// a page that can be used to edit stuff about the db, such as what categories to include, what campuses etc etc
   Created by johnstrobe on 1/08/16.
include ../node_modules/jade-bootstrap/_bootstrap
block head
    link(rel = "stylesheet", href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css")
    script(type = "text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    script(type = "text/javascript", src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')

append styles
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/normalize.css')
  link(rel='stylesheet', href='/stylesheets/skeleton.css')

block body
        .col-md-10
            .row
                include navBar
        .container
            .col-md-6
                //include sidebar
                .row
                    br
                    br
                    br
                    h3 Make changes to the database
                    p Note: If a change has just been completed successfully, you may need to reload the page to see correct DB info
                    br
                    h2 #{message}
                    form.centerAdd(action="/editdb",method="post",id="form1" )

                        h4 Add Category
                        p  adds a category to the databases list of available categories
                        input(class="form-control",type="text", name = "addCategory", form="form1")
                        input.btn.btn-success(type="submit" form="form1" value="execute")

                    form.centerAdd(action="/editdb",method="post",id="form2" )

                        h4 Remove Cateogry
                        p  remove an existing category
                        select(class="form-control",name="removeCategory" form="form2")
                            each category in categories
                                option(value='#{category.category}') #{category.category}
                        input.btn.btn-success(type="submit" form="form2" value="execute")


                    form.centerAdd(action="/editdb",method="post",id="form3" )

                        h4 Add Campus
                        p  adds a campus to the database's list of available campuses
                            input(class="form-control",type="text", name = "addCampus", form="form3")
                        input.btn.btn-success(type="submit" form="form3" value="execute")


                    form.centerAdd(action="/editdb",method="post",id="form4" )

                        h4 Remove Campus
                        p remove an existing campus
                        select(class="form-control",name="removeCampus" form="form4")
                            each location in campus
                                option(value='#{location.campus}') #{location.campus}



                        input.btn.btn-success(type="submit" form="form4" value="execute")

                    form.centerAdd(action="/editdb",method="post",id="form5" )

                        h4 Add new Information Field (Column) to the item table
                        p adds a new column to the items field, need the name and data type! (ie dont use this if you dont know what sql is)
                            p name for this column
                            input(class="form-control",type="text", name = "addColName", form="form5",required)
                            p the type of data it will store
                            input(class="form-control",type="text", name = "addColType", form="form5",required)


                        input.btn.btn-success(type="submit" form="form5" value="execute")

                    form.centerAdd(action="/editdb",method="post",id="form6" )

                        h4 Remove an existing information field (column) from the items table
                        p will attempt to drop the column which matches the name given here within items table
                            p name of column to drop
                            input(class="form-control",type="text", name = "removeColName", form="form6",required)

                        input.btn.btn-success(type="submit" form="form6" value="execute")

                    form.centerAdd(action="/editdb",method="post",id="form7" )

                        h4 Permanently delete an item from the database
                        p Actually deletes the item, not just marking it as returned/disposed
                            p Use the Unique item ID
                            input(class="form-control",type="text", name = "itemRemoveID", form="form7",required)

                        input.btn.btn-success(type="submit" form="form7" value="execute")


                    form.centerAdd(action="/editdb",method="post",id="form8" )

                        h4 Permanently Delete all items older than a given data
                        p Should very rarely be needed
                            p All items listed before the given date will be deleted - Use with caution!
                            script.
                                $(document).ready(function () {
                                    $("#datepicker").datepicker({dateFormat: "dd-mm-yy"});
                                });
                            input(class="form-control",type="text", id = "datepicker", name = "itemRemoveDate", form="form8",required)

                        input.btn.btn-success(type="submit" form="form8" value="execute")

                    form.centerAdd(action="/editdb",method="post",id="form9" )

                        h4 Get Static JSON representation of DB
                        p Could be used to avoid always connecting directly to DB
                            input(class="form-control",type="text",hidden="true",name="publish",form="form9", value="publish",required)
                        input.btn.btn-success(type="submit" form="form9" value="PUBLISH")
