//Created by gelidotris 8/08/16

extends ../node_modules/jade-bootstrap/_bootstrap

append styles
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/skeleton.css')
block body
    include navBar
    include sidebar
    .container
        .row
            #itemPhoto.col-md-3
                br
                br
                br
                if photoSRC == '' /* If there is no image for the item */
                    img(src="images/defaultImg.png" style="width:200px;")


                else
                    img(src='#{photoSRC}', style="width:200px;")

                #editItemBtn.col-sm-12
                    //form(action='/editItem?id=' + id, method='get')
                    br
                    a(href='/editItem?id=#{itemid} ')
                        button.btn.btn-default Edit


            #itemDetails.col-md-9
                br
                br
                br
                h3 #{itemName}

                h6 Category: #{itemCategory}

                //Item Description
                p #{itemDesc}

                p Date Found: #{itemDateFound}

                p Location Found: #{itemLocFound}

                p Currently held in (Campus Location): #{itemCampusLoc}


    include footer
